.home {
    padding: 20px;
  }
  
  .search-bar {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .category-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
  
  .category-card:hover {
    transform: scale(1.02);
  }
  
  .category-card img {
    width: 80px;
    height: auto;
    border-radius: 10px;
  }
  
  .beginner {
    background-color: #fff4c2;
  }
  
  .intermediate {
    background-color: #ffdbac;
  }
  
  .advanced {
    background-color: #ffc2c2;
  }
  
  .category-card .details {
    display: flex;
    flex-direction: column;
  }
  
  .category-card h3 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
  }
  
  .category-card p {
    margin: 5px 0 0;
    font-size: 14px;
    color: gray;
  }
  
  .workout-btn {
    background-color: #ffb400;
    padding: 8px 12px;
    border-radius: 8px;
    font-weight: bold;
    color: white;
    border: none;
    cursor: pointer;
    transition: background 0.2s;
  }
  
  .workout-btn:hover {
    background-color: #e6a000;
  }
  